.active{
    display: table;
}

.nonActive{
    display: none;
}

.activeButton{
    font-weight: bold;
    color: #c10841;
    background-color: #eee;
}

#tableAudio th:first-child{
    width: 34.8%;
}

#tableVideo th:first-child{
    width: 34.8%;
}

a{
    text-decoration: none;
    color: black;
    position: relative;
}
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }